@model Online_Clinic.Common.ViewModels.BağışTalebiVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>BağışTalebi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hasta.Ad" class="control-label"></label>
                <input asp-for="Hasta.Ad" class="form-control" />
                <span asp-validation-for="Hasta.Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasta.Soyad" class="control-label"></label>
                <input asp-for="Hasta.Soyad" class="form-control" />
                <span asp-validation-for="Hasta.Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalepTarihi" class="control-label">Talep Tarihi</label>
                <input asp-for="TalepTarihi" class="form-control" />
                <span asp-validation-for="TalepTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalepAçıklaması" class="control-label"></label>
                <input asp-for="TalepAçıklaması" class="form-control" />
                <span asp-validation-for="TalepAçıklaması" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Onay" /> @Html.DisplayNameFor(model => model.Onay)
                </label>
            </div>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
