@model Online_Clinic.DataAccess.Hasta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Hasta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="exampleTextarea">AD SOYAD</label>
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleTextarea">DOĞUM TARİHİ</label>
                <input asp-for="DoğumTarihi" class="form-control" />
            </div>
            <br />
            <div>CİNSİYET</div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                    Kadın
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Erkek
                </label>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleTextarea">HASTALIK GEÇMİŞİ</label>
                <input asp-for="HastalıkGeçmişi" style="text-align" class="form-control" />
            </div>
            <br />
            <div>KRONİK HASTALIKLAR</div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Hipertansiyon
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    KOAH Hastalığı
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Şeker Hastalığı(Diyabet)
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Astım
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Böbrek Hastalığı
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Kalp/Damar Hastalığı
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Karaciğer Hastalığı
                </label>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleInputEmail1">EMAİL</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleInputPassword1">ŞİFRE</label>
                <input asp-for="Şifre" type="password" class="form-control">
                <span asp-validation-for="Şifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
