@model Online_Clinic.Common.ViewModels.RandevuVM
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Tooplate">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="~/HomeIndex/css/bootstrap.min.css">
<link rel="stylesheet" href="~/HomeIndex/css/font-awesome.min.css">
<link rel="stylesheet" href="~/HomeIndex/css/animate.css">
<link rel="stylesheet" href="~/HomeIndex/css/owl.carousel.css">
<link rel="stylesheet" href="~/HomeIndex/css/owl.theme.default.min.css">

<!-- ABOUT -->
<section id="about" style="margin-top:30px">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><i class="fa fa-circle-o"></i>nline-Clinic</h2>
                    <div class="wow fadeInUp animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <p>En güncel tedavi yöntemleri için kayıt olup doktorlarımızla iletişime geçebilirsiniz</p>
                    </div>
                    <figure class="profile wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                        <img src="~/HomeIndex/images/author-image.jpg" class="img-responsive" alt="">
                        <figcaption>
                            <h3>Dr. Neil Jackson</h3>
                            <p>General Principal</p>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- TEAM -->
<section id="team" data-stellar-background-ratio="1" style="background-position: 0px 0px;">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Our Doctors</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4 col-sm-6">
                <div class="team-thumb wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <img src="~/HomeIndex/images/team-image1.jpg" class="img-responsive" alt="">

                    <div class="team-info">
                        <h3>Nate Baston</h3>
                        <p>General Principal</p>
                        <div class="team-contact-info">
                            <p><i class="fa fa-phone"></i> 010-020-0120</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">general@company.com</a></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-linkedin-square"></a></li>
                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team-thumb wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <img src="~/HomeIndex/images/team-image2.jpg" class="img-responsive" alt="">

                    <div class="team-info">
                        <h3>Jason Stewart</h3>
                        <p>Pregnancy</p>
                        <div class="team-contact-info">
                            <p><i class="fa fa-phone"></i> 010-070-0170</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">pregnancy@company.com</a></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square"></a></li>
                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                            <li><a href="#" class="fa fa-flickr"></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team-thumb wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <img src="~/HomeIndex/images/team-image3.jpg" class="img-responsive" alt="">

                    <div class="team-info">
                        <h3>Miasha Nakahara</h3>
                        <p>Cardiology</p>
                        <div class="team-contact-info">
                            <p><i class="fa fa-phone"></i> 010-040-0140</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<!-- NEWS -->
<section id="news" data-stellar-background-ratio="2.5" style="background-position: 0px 3741.6px;">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                    <h2>Latest News</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                    <a href="news-detail.html">
                        <img src="~/HomeIndex/images/news-image1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <span>March 08, 2018</span>
                        <h3><a href="news-detail.html">About Amazing Technology</a></h3>
                        <p>Maecenas risus neque, placerat volutpat tempor ut, vehicula et felis.</p>
                        <div class="author">
                            <img src="~/HomeIndex/images/author-image.jpg" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5>Jeremie Carlson</h5>
                                <p>CEO / Founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                    <a href="news-detail.html">
                        <img src="~/HomeIndex/images/news-image2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <span>February 20, 2018</span>
                        <h3><a href="news-detail.html">Introducing a new healing process</a></h3>
                        <p>Fusce vel sem finibus, rhoncus massa non, aliquam velit. Nam et est ligula.</p>
                        <div class="author">
                            <img src="~/HomeIndex/images/author-image.jpg" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5>Jason Stewart</h5>
                                <p>General Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                    <a href="news-detail.html">
                        <img src="~/HomeIndex/images/news-image3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <span>January 27, 2018</span>
                        <h3><a href="news-detail.html">Review Annual Medical Research</a></h3>
                        <p>Vivamus non nulla semper diam cursus maximus. Pellentesque dignissim.</p>
                        <div class="author">
                            <img src="~/HomeIndex/images/author-image.jpg" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5>Andrio Abero</h5>
                                <p>Online Advertising</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- MAKE AN APPOINTMENT -->
<section id="appointment" data-stellar-background-ratio="3" style="background-position: 0px 6726.2px;">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <img src="~/HomeIndex/images/appointment-image.jpg" class="img-responsive" alt="">
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- CONTACT FORM HERE -->
                <form id="appointment-form" asp-controller="Randevu" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                        <h2>Randevu Al</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                        <div class="col-md-6 col-sm-6">
                            <label asp-for="TamAd">Tam Adınız</label>
                            <input type="text" class="form-control" id="name" name="name">
                            <span asp-validation-for="TamAd"></span>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label asp-for="Bölüm">Bölüm Seçiniz</label>
                            <select class="form-control">
                                <option action>Seçiniz</option>
                                <option>Beyin ve Sinir Cerrahisi</option>
                                <option>Kalp ve Damar Cerrahisi</option>
                                <option>Çocuk Cerrahisi</option>
                                <option>Genel Cerrahi</option>
                                <option>Göğüs Cerrahisi</option>
                                <option>Kulak Burun Boğaz Hastalıkları</option>
                                <option>Plastik Cerrahi</option>
                                <option>Ortopedi</option>
                                <option>Göz Hastalıkları</option>
                                <option>Üroloji</option>
                            </select>
                        </div>


                        <div class="col-md-6 col-sm-6">
                            <label asp-for="Tarih">Tarih Seçiniz</label>
                            <input type="date" name="date" value="" class="form-control">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label asp-for="Saat">Saat Seçiniz</label>
                            <input type="time" name="time" value="" class="form-control">
                        </div>



                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Telefon">Telefon Numaranız</label>
                            <input type="tel" class="form-control" id="phone" name="phone">
                            <label asp-for="Email">E-mail Adresiniz</label>
                            <input type="email" class="form-control" id="email" name="email">
                            <label asp-for="Mesaj">Eklemek İstediğiniz Bir Mesaj Var mı?</label>
                            <textarea class="form-control" rows="5" id="message" name="message"></textarea>
                            <button type="submit" class="form-control" id="cf-submit" name="submit">Randevu Al</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>


<!-- MAKE AN APPOINTMENT -->
<!--<section id="appointment" data-stellar-background-ratio="3" style="background-position: 0px 6726.2px;">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <img src="~/HomeIndex/images/appointment-image.jpg" class="img-responsive" alt="">
            </div>

            <div class="col-md-6 col-sm-6">-->
<!-- CONTACT FORM HERE -->
<!--<form id="appointment-form" role="form" method="post" action="#">-->
<!-- SECTION TITLE -->
<!--<div class="section-title wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                        <h2>Make an appointment</h2>
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                        <div class="col-md-6 col-sm-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="date">Select Date</label>
                            <input type="date" name="date" value="" class="form-control">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="select">Select Department</label>
                            <select class="form-control">
                                <option>General Health</option>
                                <option>Cardiology</option>
                                <option>Dental</option>
                                <option>Medical Research</option>
                            </select>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <label for="telephone">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                            <label for="Message">Additional Message</label>
                            <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                            <button type="submit" class="form-control" id="cf-submit" name="submit">Submit Button</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>-->
<!-- SCRIPTS -->
<script src="~/HomeIndex/js/jquery.js"></script>
<script src="~/HomeIndex/js/bootstrap.min.js"></script>
<script src="~/HomeIndex/js/jquery.sticky.js"></script>
<script src="~/HomeIndex/js/jquery.stellar.min.js"></script>
<script src="~/HomeIndex/js/wow.min.js"></script>
<script src="~/HomeIndex/js/smoothscroll.js"></script>
<script src="~/HomeIndex/js/owl.carousel.min.js"></script>
<script src="~/HomeIndex/js/custom.js"></script>