@{
    ViewData["Title"] = "Kayıt";
}
<form>
    <fieldset>
        <legend>Üye OL</legend>
        <div class="form-group">
            <label for="exampleInputPassword1">Ad Soyad: </label>
            <input type="text" class="form-control" placeholder="Adınız">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">E-mail Adresi</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail adresiniz">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Şifre</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
        </div>
        <div class="form-group">
            <label for="exampleSelect1">Giriş Türünüzü Seçiniz</label>
            <select class="form-control" id="exampleSelect1">
                <option>Seçiniz</option>
                <option>Doktor</option>
                <option>Bağışçı</option>
                <option>Hasta</option>
            </select>
        </div>
        @*<div class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple="" class="form-control" id="exampleSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>*@
        <fieldset class="form-group">
            <legend></legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    KADIN
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    ERKEK
                </label>
            </div>
        </fieldset>
        @*<fieldset class="form-group">
            <legend>Checkboxes</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    DOKTOR
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    BAĞIŞÇI
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    HASTA
                </label>
            </div>
        </fieldset>*@
        @*<fieldset class="form-group">
            <legend>Sliders</legend>
            <label for="customRange1">Example range</label>
            <input type="range" class="custom-range" id="customRange1">
        </fieldset>*@
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>