@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div style="margin-top:150px; margin-bottom:50px">
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Bağışçı" asp-action="Create">Bağışçı</a>
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Doktor" asp-action="Create">Doktor</a>
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Hasta" asp-action="Create">Hasta</a>
    </div>
</body>
