<div class="col-xs-1">
    <div id="fh5co-logo"><a href="index.html">Online-Clinic<span>.</span></a></div>
</div>
<div class="col-xs-11 text-right menu-1">
    <ul>
        <li><a href="@Url.Action("Index", "Doktor")">Doktorlar</a></li>
        <li class="has-dropdown">
            <a href="#">USERS</a>
            <ul class="dropdown">
                <li><a href="@Url.Action("Index", "Bağışçı")">LECTURERS</a></li>
                <li><a href="@Url.Action("Index", "Hasta")">STUDENTS</a></li>
            </ul>
        </li>
        <li class="btn-cta"><a href="~/Security/Logout"><span>LOG OUT</span></a></li>
    </ul>
</div>