@using Microsoft.AspNetCore.Identity

@inject SignInManager<Online_Clinic.Data.DbModels.Visitor> SignInManager
@inject UserManager<Online_Clinic.Data.DbModels.Visitor> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Online Clinic</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/HomeIndex/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/HomeIndex/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/HomeIndex/css/animate.css">
    <link rel="stylesheet" href="~/HomeIndex/css/owl.carousel.css">
    <link rel="stylesheet" href="~/HomeIndex/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/HomeIndex/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader" style="display: none;">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-5">
                    <p>Sağlığınız için en doğru yerdesiniz</p>
                </div>

                <div class="col-md-8 col-sm-7 text-align-right">
                    <span class="phone-icon"><i class="fa fa-phone"></i> 010-060-0160</span>
                    <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 08.00 - 17.00 (Pazartesi-Cuma)</span>
                    <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">info@company.com</a></span>
                </div>

            </div>
        </div>
    </header>


    <!-- MENU -->
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 70px;">
        <section class="navbar navbar-default navbar-static-top" role="navigation" style="width: 974px;">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.html" class="navbar-brand">Online-Clinic</a>
                </div>

                <!-- MENU LINKS -->
                <div class="collapse navbar-collapse">
                    <partial name="_LoginPartial" />
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a asp-controller="Home" asp-action="Index" class="smoothScroll">Anasayfa</a></li>
                        <li><a asp-controller="Bağışçı" asp-action="Index" class="smoothScroll">Bağışçılar</a></li>
                        <li><a asp-controller="Doktor" asp-action="Index" class="smoothScroll">Doktorlar</a></li>
                        <li><a asp-controller="Hasta" asp-action="Index" class="smoothScroll">Hasta Hikayeleri</a></li>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole(ResultConstant.HastaRole))
                            {
                                <li><a asp-controller="Talep" asp-action="Create" class="smoothScroll">Bağış Talebi</a></li>
                            }
                        }
                    </ul>
                    
                </div>
            </div>
        </section>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5" style="background-position: 0px 17746.2px;">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">İletişim Bilgileri</h4>
                        <p>Detaylı bilgi almak için bize ulaşınız</p>

                        <div class="contact-info">
                            <p><i class="fa fa-phone"></i> 010-070-0170</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">info@company.com</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Son Haberler</h4>
                        <div class="latest-stories">
                            <div class="stories-image">
                                <a href="#"><img src="~/HomeIndex/images/news-image.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="stories-info">
                                <a href="#"><h5>Sağlık Haberleri</h5></a>
                                <span>14 Mart 2020</span>
                            </div>
                        </div>

                        <div class="latest-stories">
                            <div class="stories-image">
                                <a href="#"><img src="~/HomeIndex/images/news-image.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="stories-info">
                                <a href="#"><h5>Sağlık Haberleri</h5></a>
                                <span>16 Şubat 2020</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <div class="opening-hours">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Randevu Saatlerimiz</h4>
                            <p>Pazartesi-Cuma <span>08.00 - 17.00</span></p>
                        </div>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 border-top">
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright-text">
                            <p>
                                Copyright © 2018

                                | Design: Tooplate
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-link">
                            <a href="#">Doktorlarımız</a>
                            <a href="#">Bağışçılarımız</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-align-center">
                        <div class="angle-up-btn">
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s" style="visibility: hidden; animation-delay: 1.2s; animation-name: none;"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="~/HomeIndex/js/jquery.js"></script>
    <script src="~/HomeIndex/js/bootstrap.min.js"></script>
    <script src="~/HomeIndex/js/jquery.sticky.js"></script>
    <script src="~/HomeIndex/js/jquery.stellar.min.js"></script>
    <script src="~/HomeIndex/js/wow.min.js"></script>
    <script src="~/HomeIndex/js/smoothscroll.js"></script>
    <script src="~/HomeIndex/js/owl.carousel.min.js"></script>
    <script src="~/HomeIndex/js/custom.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
