@model Online_Clinic.DataAccess.Doktor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h4>Doktor Kayıt</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="exampleTextarea">AD SOYAD</label>
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleTextarea">DOĞUM TARİHİ</label>
                <input asp-for="DoğumTarihi" class="form-control" />
            </div>
            <br />
            <label for="exampleTextarea">CİNSİYET</label>
            <div class="form-check">
                <div>
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                    Kadın
                </div>
            </div>
            <div class="form-check">
                <div>
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Erkek
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleSelect1">BRANŞ</label>
                <select class="form-control" id="exampleSelect1">
                    <option>Branş Seçiniz</option>
                    <option>Beyin ve Sinir Cerrahisi</option>
                    <option>Kalp ve Damar Cerrahisi</option>
                    <option>Çocuk Cerrahisi</option>
                    <option>Genel Cerrahi</option>
                    <option>Göğüs Cerrahisi</option>
                    <option>Kulak Burun Boğaz Hastalıkları</option>
                    <option>Plastik Cerrahi</option>
                    <option>Ortopedi</option>
                    <option>Göz Hastalıkları</option>
                    <option>Üroloji</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleTextarea">ÖZGEÇMİŞ</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleTextarea">ADRES</label>
                <input asp-for="Adres" type="text" class="form-control">
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleTextarea">KURUM ADI</label>
                <input asp-for="Kurum" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label for="exampleInputEmail1">EMAİL</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleInputPassword1">ŞİFRE</label>
                <input asp-for="Şifre" type="password" class="form-control">
                <span asp-validation-for="Şifre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Lütfen kayıt olmak için vesikalık fotoğraf seçiniz</small>
            </div>
            <div class="form-group">
                <input type="submit" value="Kayıt Ol" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
