@model System.Collections.Generic.IEnumerable<Online_Clinic.Common.ViewModels.DoktorVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- TEAM -->
<section id="team" data-stellar-background-ratio="1" style="background-position: 0px 0px;">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h2 class="wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Doktorlarımız</h2>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <a href='https://www.freepik.com/vectors/background'>Background vector created by cornecoba - www.freepik.com</a>
                        <div class="team-info">
                            <h3>@item.Ad @item.Soyad</h3>
                            <p>@item.Branş</p>
                            <div class="team-contact-info">
                                @*<p><i class="fa fa-phone"></i> 010-020-0120</p>*@
                                <p><i class="fa fa-envelope-o"></i> <a href="#">@item.Email</a></p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                <li><a href="#" class="fa fa-envelope-o"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            }


        </div>
    </div>
</section>

