@*@model IEnumerable<Online_Clinic.DataAccess.Doktor>*@

@model System.Collections.Generic.List<Online_Clinic.DataAccess.Doktor>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success" asp-controller="Randevu" asp-action="Create">Randevu Al</a>



<a class="btn btn-success" asp-controller="Randevu" asp-action="Index">Randevularım</a>
